/**
* Written By Anifowoshe Gbenga David 
* This Css code base uses the conventional (BEM) style 
* B - Block ; It is basically an entity in its wholelistic form e.g a carousel 
* E - Element; It is basically the element in an entity e.g a nav button within a carousel
* M - Modifier; It is basically a modification to an element e.g changing the color of a nav icon 
* So we could generally have .carousel__navbar--blue 
*/

/**
* Foods 
*/
.chef-body-foods__container {
  flex-wrap: wrap;
  margin: 0px 5px;
}

.chef-body-foods {
  height: 200px;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
  display: flex;
  flex-basis: 24.7%;
  margin-left: 2px;
}

.chef-body-foods > span {
  font-size: 20px;
  color: #fff;
}

.chef-body-foods__food-sub-title {
  font-family: "Circular Medium";
}

.chef-body-foods__food1 {
  background-image: url("../images/food1.jpg");
}

.chef-body-foods__food2 {
  background-image: url("../images/food2.jpg");
}

.chef-body-foods__food3 {
  background-image: url("../images/food3.jpg");
}

.chef-body-foods__food4 {
  background-image: url("../images/food4.jpg");
}

.chef-body-foods__food5 {
  background-image: url("../images/food5.jpg");
}

.chef-body-foods__food6 {
  background-image: url("../images/food6.jpg");
}

.chef-body-foods__food7 {
  background-image: url("../images/food7.jpg");
}

.chef-body-foods__food8 {
  background-image: url("../images/food8.jpg");
}

.chef-body-foods__food9 {
  background-image: url("../images/food9.jpg");
}

.chef-body-foods__food10 {
  background-image: url("../images/food10.jpg");
}

.chef-body-foods__food11 {
  background-image: url("../images/food11.jpg");
}

.chef-body-foods__food12 {
  background-image: url("../images/food12.jpg");
}

.chef-body-foods:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.1);
}

/**
* Testimonies 
*/
.chef-body-testimonies {
  padding: 100px 0px;
  background-image: url("../images/stats.jpg");
  margin-top: 20px;
  padding: 30px 100px;
  position: relative;
  color: #fff;
  font-size: 13px;
}

.chef-body-testimonies__title {
  font-size: 30px;
  font-family: "Circular Medium";
}

.chef-body-testimonies:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.1);
}

.chef-body-testimonies__body {
  margin-top: 10px;
}

.chef-body-testimonies__body-nav {
  width: 30px;
  height: 30px;
}

.chef-body-testimonies__body-content {
  margin-left: 100px;
}

.chef-body-testimonies__body-content .name {
  margin-top: 30px;
  font-family: "Circular Medium";
}

.chef-body-testimonies__body-content .name > .role {
  font-family: "Circular Light";
}

/**
* contact 
*/
.chef-body-contact__compartment {
  flex-basis: 50%;
  padding: 30px 0px;
  color: #fff;
  font-size: 13px;
}

.chef-body-contact__compartment .section {
  margin-top: 30px;
}

.chef-body-contact__compartment .section-title {
  color: #333;
  font-family: "Circular Medium";
}

.chef-body-contact__compartment--information {
  background: #8abe01;
  padding-right: 50px;
}

.chef-body-contact__compartment--form {
  background-image: url("../images/contact.jpg");
  padding-left: 50px;
}

.chef-body-contact__compartment .title {
  font-size: 20px;
}

.chef-body-contact__form > input {
  border-width: 0px;
  border-bottom: 1px solid #fff;
  padding-left: 10px;
  color: #fff;
  background: transparent;
  outline: none;
  width: 100%;
  margin-bottom: 30px;
}

.chef-body-contact__form > textarea {
  border-width: 0px;
  border-bottom: 1px solid #fff;
  padding-left: 10px;
  color: #fff;
  background: transparent;
  outline: none;
  width: 100%;
  margin-bottom: 30px;
  display: block;
}

@media screen and (min-width: 430px) and (max-width: 831px) {
  .chef-body-foods {
    flex-basis: 99%;
  }
  .chef-body-testimonies {
    padding: 30px 50px;
  }
  .chef-body-testimonies__body-content {
    margin-left: 15px;
  }
}

@media screen and (max-width: 429px) {
  .chef-body-foods {
    flex-basis: 99%;
  }
  .chef-body-testimonies {
    padding: 30px 50px;
  }
  .chef-body-testimonies__body-content {
    margin-left: 15px;
  }
  .chef-contact-overall-container {
    flex-direction: column;
  }
}
